<div class="row">
  <div class="col">
    <div class="shedule">予定一覧</div>
    
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>タイトル</th>
          <th>日程</th>
        </tr>
      </thead>
      
      <tbody>
        <% @blogs.each do |blog| %>
          <tr>
            <td><%= link_to blog.title , blog %></td>
            <td><%= blog.start_time.strftime("%m-%d") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>